[Unit]
Description = %p
BindsTo=graphical-session.target
Before=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
Type=exec
Environment=GDK_BACKEND=x11
Environment=QT_QPA_PLATFORM=xcb
Environment=XDG_SESSION_TYPE=x11
Environment=ELECTRON_OZONE_PLATFORM_HINT=x11
ExecStartPre=/bin/sleep 3
ExecStart=/home/polhuang/.nix-profile/bin/1password --silent
TimeoutSec=60

[Install]
WantedBy=default.target