/.emacs.d/auto-save/
/.emacs.d/auto-save-list/
/.emacs.d/backups/
/.emacs.d/codeium/
/.emacs.d/eln-cache/
/.emacs.d/eshell/
/.emacs.d/elpa/
/.emacs.d/gcal.el/
/.emacs.d/history/
/.emacs.d/ltximg/
/.emacs.d/.cache/
/.emacs.d/khoj.el
/.emacs.d/.lsp-session-v1
/.emacs.d/oauth2-auto.plist
/.emacs.d/org-clock-save.el
/.emacs.d/org-roam.db
/.emacs.d/persist/
/.emacs.d/.persistent-scratch
/.emacs.d/private/
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/quelpa/
/.emacs.d/recentf
/.emacs.d/request/
/.emacs.d/straight/
/.emacs.d/transient/
/.emacs.d/undo/
/.emacs.d/tree-sitter/

/.emacs.d/khoj.el
/.emacs.d/gcal.el
/.emacs.d/bookmarks
/.emacs.d/history
/.emacs.d/places
/.emacs.d/.org-generic-id-locations
/.emacs.d/.org-id-locations

/.config/hypr/hyprland.conf
/.config/hypr/hyprland-base.conf

/polternix/flake.lock